<extend name="Base/common"/>


<block name="content">
    <!--Body content-->
    <div id="content" class="clearfix">
        <div class="contentwrapper"><!--Content wrapper-->
            <div class="heading">
                <h3>经销商管理 > 修改经销商</h3>
            </div><!-- End .heading-->

            <!-- Build page from here: -->
            <form action="javascript:;" id="form" enctype="multipart/form-data" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-horizontal seperator" role="form" id="allControls">

                            <!-- Start .form-group  -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="account">姓名:</label>
                                <div class="col-lg-3">
                                    <input class="form-control"  type="hidden" name="id" value="{$data['id']}" />
                                    <input class="form-control" id="account" type="text" name="account" value="{$data['account']}" />
                                </div>
                            </div>
                            <!-- End .form-group  -->


                            <!-- Start .form-group  -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="phone">手机:</label>
                                <div class="col-lg-3">
                                    <input class="form-control " id="phone" type="text" name="phone" value="{$data['phone']}" />
                                </div>
                            </div>
                            <!-- End .form-group  -->

                            <!-- Start .form-group  -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="idcard">身份证号码:</label>
                                <div class="col-lg-3">
                                    <input class="form-control " id="idcard" type="text" name="idcard" value="{$data['idcard']}" />
                                </div>
                            </div>
                            <!-- End .form-group  -->
                            <!-- Start .form-group  -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="address">地址:</label>
                                <div class="col-lg-3">
                                    <input class="form-control " id="address" type="text" name="address" value="{$data['address']}" />
                                </div>
                            </div>
                            <!-- End .form-group  -->

                            <!-- Start .form-group  -->
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="overtime">经销商有效期:</label>
                                <div class="col-lg-3">
                                    <input class="laydate-icon form-control" id="overtime" type="text" name="overtime" value="{$data['overtime']}" />
                                </div>
                            </div>
                            <!-- End .form-group  -->


                            <!-- Start .form-group  -->
                            <!-- <div class="form-group">
                                 <label class="col-lg-2 control-label" for="level">等级:</label>
                                 <div class="col-lg-3">
                                     <input class="form-control" id="level" type="text" name="level" value="{$data['level']}" />
                                 </div>
                             </div>-->
                            <!-- End .form-group  -->

                            <!-- Start .form-group  -->
                            <!--<div class="form-group">
                                <label class="col-lg-2 control-label" for="no">经销商号:</label>
                                <div class="col-lg-3">
                                    <input class="form-control" id="no" type="text" name="no" value="{$data['no']}" />
                                </div>
                            </div>-->
                            <!-- End .form-group  -->

                            <div class="form-group" id="commitBtn">
                                <div class="col-lg-offset-2">
                                    <button id="saveBtn" type="submit" tabindex="0" class="btn btn-info marginR10 marginL10" role="button" data-toggle="popover" data-trigger="focus" title="提示信息" data-content="xxx">提交修改</button>
                                    <a id="backBtn" href="{:U('Admin/Dealer/index')}" class="btn btn-default marginR10 marginL10">返回</a>
                                </div>
                            </div><!-- End .form-group  -->
                        </div>
                    </div><!-- End .span12 -->

                </div><!-- End .row -->
            </form>
        </div><!-- End contentwrapper -->
    </div><!-- End #content -->
    <!--成功提示框 start modal-->
    <div class="modal fade" id="alert" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示窗口</h4>
                </div>
                <div class="modal-body">
                    <p id="alertText">One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <a href="{:U('Admin/Dealer/index')}" type="button" class="btn btn-default" >不再修改</a>
                    <a href="{:U('Admin/Dealer/edit', array('id'=>$data['id']))}" type="button" class="btn btn-primary">继续修改</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--成功提示框 End modal-->
    </div>
</block>

<block name="script">
    <script src="__PUBLIC__/Admin/js/laydate/laydate.js"></script>
    <script src="__PUBLIC__/Admin/js/validata/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/Admin/js/validata/localization/messages_zh.min.js"></script>
    <script>
        var svaeDealer = "{:U('Admin/Dealer/edit')}";
        // 日历
        laydate({
            elem: '#overtime', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
            event: 'focus' //响应事件。如果没有传入event，则按照默认的click
        });

        //提示
        function layer(target, res) {
            target.attr('data-content', res);
            setTimeout(function(){
                target.popover('show');
            }, 500);
        }

        //postAjax
        function ajaxPost(url, data, callback){
            $.post(url,data, callback);
        }

        //ajax 回调函数
        function ajaxCallback(data) {
            //console.log(data);return;
            var target = $('#saveBtn');
            if(data == 1) {
                $('#alertText').html('修改成功');
                $('#alert').modal('show');
            } else if(data == "") {
                layer(target, '请刷新页面,未知错误');
            }else if(data == 0){
                layer(target, "没有修改");
            }else{
                layer(target, data);
            }
        }

        //监控表单
        $.validator.setDefaults({
            submitHandler: function() {
                //alert("提交事件!");
                var formData = $('#form').serialize();
                ajaxPost(svaeDealer, formData, ajaxCallback)
            }
        });

        //添加自定义验证
        $.validator.addMethod("checkQQ",function(value,element,params){
            var checkQQ = /^[1-9][0-9]{4,19}$/;
            return this.optional(element)||(checkQQ.test(value));
        },"*请输入正确的QQ号码！");

        $(function(){

            // 在键盘按下并释放及提交后验证提交表单
            $("#form").validate({
                rules: {
                    account: "required",
                    phone : "required",
                    idcard : "required",
                    address : "required",
                    overtime : "required"
                    /*lastname: "required",
                     username: {
                     required: true,
                     minlength: 2
                     },
                     password: {
                     required: true,
                     minlength: 5
                     },
                     confirm_password: {
                     required: true,
                     minlength: 5,
                     equalTo: "#password"
                     },
                     email: {
                     required: true,
                     email: true
                     },
                     topic: {
                     required: "#newsletter:checked",
                     minlength: 2
                     },
                     agree: "required"*/
                },
                messages: {
                    account: "请输入用户名",
                    phone: "请输入手机号码",
                    idcard: "请输入身份证号码",
                    address: "请输入地址",
                    overtime: "请输入有效期"
                    /*lastname: "请输入您的姓氏",
                     username: {
                     required: "请输入用户名",
                     minlength: "用户名必需由两个字母组成"
                     },
                     password: {
                     required: "请输入密码",
                     minlength: "密码长度不能小于 5 个字母"
                     },
                     confirm_password: {
                     required: "请输入密码",
                     minlength: "密码长度不能小于 5 个字母",
                     equalTo: "两次密码输入不一致"
                     },
                     email: "请输入一个正确的邮箱",
                     agree: "请接受我们的声明",
                     topic: "请选择两个主题"*/
                }
            });

        });




    </script>
</block>