<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/form-master/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery-ui-1.9.2/ui/minified/jquery-ui.min.js"></script>
<script src="__PUBLIC__/Admin/js/common.js"></script>
<!-- Load modernizr first -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/libs/modernizr.js"></script>

<!-- <script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap/bootstrap.js"></script> -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/libs/jRespond.min.js"></script>

<!-- Charts plugins -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/charts/sparkline/jquery.sparkline.min.js"></script><!-- Sparkline plugin -->

<!-- Misc plugins -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/misc/qtip/jquery.qtip.min.js"></script>
<!-- Custom tooltip plugin -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/misc/totop/jquery.ui.totop.min.js"></script>

<!-- Search plugin -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/misc/search/tipuesearch_set.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/misc/search/tipuesearch_data.js"></script>
<!-- JSON for searched results -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/misc/search/tipuesearch.js"></script>

<!-- Form plugins -->
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/forms/uniform/jquery.uniform.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/forms/select/select2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/plugins/forms/togglebutton/jquery.toggle.buttons.js"></script>

<!-- Init plugins -->
<script type="text/javascript" src="__PUBLIC__/Admin/js/main.js"></script><!-- Core js functions -->
<block name="script">
</block>


