<ul>
    <php>
        $sidebar = sidebar();
        if($sidebar && is_array($sidebar)){
            foreach($sidebar as $key=>$value){
                echo "<li>";
                //echo  '<a href="'.U($value[url]).'"><span class="icon16 '.$value['icon'].'"></span>'.$value['name'].'</a>';
                echo  '<a href="'.U($value[url]).'"><span class="icon16 '.$value['icon'].'"></span>'.$value['name'].'</a>';
                if($value['_data']){
                    echo '<ul class="sub">';
                    foreach($value['_data'] as $k => $v){
                        echo '<li><a href="'.U($v[url]).'"><span class="icon16 '.$v['icon'].'"></span>'.$v['name'].'</a></li>';
                    }
                    echo "</ul>";
                }
                echo "</li>";
            }
        }
    </php>
</ul>
